// MEDIA QUERY
@mixin media($breakpoint) {
    @if $breakpoint==small {
        @media (max-width: 768px) {
            @content;
        }
    }
}

// VARIABLES
$color-header: #0d0d0d;
$color-text: #404040;


$color-btn-text: #07689F;
$color-btn-background: #FFC93C;

$transition: .2s;


body {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 6rem;
    background-color: #D9D7DD;
    font-family: "Inter", sans-serif;

    @include media(small) {
        padding: 2rem;
    }
}


.grid__item {
    max-width: 600px;
    background-color: #E9F1F7;
    border-radius: .4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: $transition;

    &:hover {
        transform: translateY(-.5%);
        box-shadow: 0 4rem 8rem rgba(0, 0, 0, .2);
    }
}

.card {

    &__img {
        display: block;
        width: 100%;
        height: 20rem;
        object-fit: cover;

        @include media(small) {
            height: 15rem;
        }
    }

    &__content {
        padding: 3rem 3rem;

        @include media(small) {
            padding: 2rem 2rem;
        }
    }

    &__header {
        font-weight: 500;
        color: $color-header;
        margin: 0;
        margin-bottom: 1.5rem;
    }

    &__text {
        letter-spacing: .1rem;
        line-height: 1.7;
        color: darken($color-text, 1%);
        margin-bottom: 2.5rem;

        @include media(small) {
            margin-bottom: 1.5rem;
        }
    }

    &__btn {
        display: block;
        width: 100%;
        padding: 1.5rem;
        font-size: 1.3rem;
        text-align: center;
        color: $color-btn-text;
        background-color: $color-btn-background;
        border: none;
        border-radius: .4rem;
        transition: $transition;
        cursor: pointer;

        span {
            margin-left: 1rem;
            transition: $transition;
        }

        &:hover,
        &:active {
            background-color: darken($color-btn-background, 2%);

            span {
                margin-left: 1.5rem;
            }
        }
    }
}