@import './src/navbar.css';
@import './src/footer.css';

/* GENERAL */
@font-face {
    font-family: "Sansita_links";
    src: url('./fonts/SansitaSwashed_Link.ttf');
}

@font-face {
    font-family: "Sansita_title";
    src: url('./fonts/SansitaSwashed_title.ttf');
}

body, html{
    width : 100%;
    height : 100%;
    margin : 0;
}

a {
    text-decoration: none;
    color : inherit;
    font-family: Sansita_links;
    font-size : 24px;
}


/* CONTACT */

.contactSection > h2{
    font-family: "Sansita_title";
    text-align: center;
    font-size: 50px;
    margin: 75px 0 125px 0;
}

.formFlex{
    display: flex;
    justify-content: space-around;
}

.contactSection label, textarea {
    font-size: 14px;
}

.contactSection input, textarea::placeholder {
    font-family: "Sansita_links";
    font-size: 15px;
    letter-spacing: 1px;
}

.contactSection textarea {
    width: 500px;
    height: 300px;
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contactSection label {
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contactSection input {
    width: 500px;
    margin: 10px auto;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#contact input:hover, textarea:hover {
    border:1px solid #07689F;
}

.submit {
    font-family: "Sansita_links";
    font-size: 15px;
    width: 125px;
    display: block;
    margin: 10px auto 0;
    padding: 5px;
    background-color: #FFC93C;
    border: 1px solid slategray;
    border-radius: 3px;
    cursor: pointer;
}

.contactSection iframe {
    margin-top: 10px;
    -webkit-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
}

/* MEDIA QUERIES */

@media screen and (min-width: 1200px) {
    .nav_large_screen {
        display : block;
    }

    .nav_button_menu,
    .nav_small_screen,
    .navbar input[type="checkbox"]:checked~.nav_small_screen {
        display: none;
    }

}

@media screen and (min-width: 768px) {

    .nav_button_menu img{
        width : 64px;
        height : 64px;
    }

}


