/* GENERAL */
@font-face {
    font-family: "Sansita_links";
    src: url('/fonts/SansitaSwashed_Link.ttf');
}

@font-face {
    font-family: "Sansita_title";
    src: url('/fonts/SansitaSwashed_title.ttf.ttf');
}

body, html{
    width : 100%;
    height : 100%;
    margin : 0;
}

a {
    text-decoration: none;
    color : inherit;
    font-family: Sansita_links;
    font-size : 24px;
}


/* NAVBAR */
.navbar {
    background : #07689F;
    display : flex;
    align-items: center;
    justify-content: space-between;
    height : 15%;
}

.logo img {
    width: 100%;
    height : 100%;
}

.navbar ul {
    list-style: none;
    display : flex;
    overflow: hidden;
}

.nav_large_screen li {
    padding : 2rem 2rem 2rem 2rem;

}

.nav_large_screen {
    display: none;
}

.navbar input[type="checkbox"],
.navbar input[type="checkbox"] + label img[class^="menu_"] {
    display : none;
}

.navbar input[type="checkbox"]:checked ~ .nav_small_screen {
    display : block;
}

.navbar input[type="checkbox"]:checked + label .menu_close {
    display : inherit;
}

.navbar input[type="checkbox"]:not(:checked )+ label .menu_open {
    display: inherit;
}

.navbar input[type="checkbox"]:not(:checked)~.nav_small_screen {
    display: none;
}

.nav_button_menu img {
    width : 48px;
    height : 48px;
}

.nav_button_menu {
    padding-right: 2rem;
}

.menu_close {
    display : none;
}

.nav_small_screen {
    display : block;
    background : #07689F;
    position: absolute;
    right : 0;
    top : 15%;
    width: 100%;
    
}

.nav_small_screen ul {
    flex-direction: column;
    padding: 0;
    margin : 0;
}

.nav_small_screen ul li {
    border :2px solid grey;
    width: 100%;
    text-align : center;
    padding : 2%;
}

.navbar li:hover {
    cursor: pointer;
}

.nav_large_screen li:hover a {
    text-decoration: underline;
    color : #FFC93C;
}

/* MEDIA QUERIES */

@media screen and (min-width: 1200px) {
    .nav_large_screen {
        display : block;
    }

    .nav_button_menu,
    .nav_small_screen,
    .navbar input[type="checkbox"]:checked~.nav_small_screen {
        display: none;
    }

}

@media screen and (min-width: 768px) {

    .nav_button_menu img{
        width : 64px;
        height : 64px;
    }
}
