@import './src/navbar.css';
@import './src/footer.css';

/* GENERAL */
@font-face {
    font-family: "Sansita_links";
    src: url('./fonts/SansitaSwashed_Link.ttf');
}

@font-face {
    font-family: "Sansita_title";
    src: url('./fonts/SansitaSwashed_title.ttf');
}

body, html{
    width : 100%;
    height : 100%;
    margin : 0;
}

a {
    text-decoration: none;
    color : inherit;
    font-family: Sansita_links;
    font-size : 24px;
}
