@import '../style.css';
@import '../src/footer.css';

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

a {
  text-decoration: none;
}

.container {
  /* width: 100%; */
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.title_all_articles{
  font-family: Sansita_title;
  background: #FFC93C;
  color: #07689F;
  padding: 4rem 1rem;
  text-align: center;
}
