@import '../style.css';

/* GENERAL */
@font-face {
    font-family: "Sansita_links";
    src: url('../fonts/SansitaSwashed_Link.ttf');
}

@font-face {
    font-family: "Sansita_title";
    src: url('../fonts/SansitaSwashed_title.ttf');
}

@font-face {
    font-family : "Roboto";
    src: url('../fonts/Roboto.ttf');
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #E9F1F7;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: Sansita_links;
    font-size: 24px;
}




/* BODY ARTICLE ONLY */

.body_article_only {
    text-align: center;
    overflow: auto;
    font-family: Roboto;
}

.body_article_only h1 {
    font-family : Sansita_title;
    color: #07689F;
}

.body_article_only img {
    width : 100%;
    height : 100%;
    border : 3px solid #FFC93C;
    border-radius : 55px;
}

.description {
    width : 80%;
    margin: 0 auto;
    text-align: justify;
    padding-top : 2%;
    padding-bottom : 2%;
}

.body_article_only .image_article {
    height : 40%;
    margin-bottom : 2%;
    margin-top : 2%;
}

.image_article:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
    border-radius : 55px;
}

.title_all_articles {
    font-family: Sansita_title;
    background: #FFC93C;
    color: #07689F;
    padding: 4rem 1rem;
    text-align: center;
}

.caroussel {
    display : flex;
    flex-direction: row;
    width: 100%;
    height: 45%;
}

.caroussel .image_article {
    height : 92%;
    margin-right : 5%;
}

/* MEDIA QUERIES */

@media screen and (min-width: 1200px) {

    .description {
        width : 60%;
    }



}

@media screen and (min-width: 768px) and (max-width: 1199px) {

    .description {
        width: 70%;
    }
}

