@import '../style.css';

/* GENERAL */
@font-face {
    font-family: "Sansita_links";
    src: url('../fonts/SansitaSwashed_Link.ttf');
}

@font-face {
    font-family: "Sansita_title";
    src: url('../fonts/SansitaSwashed_title.ttf');
}

@font-face {
    font-family : "Roboto";
    src: url('../fonts/Roboto.ttf');
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #E9F1F7;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: Sansita_links;
    font-size: 24px;
}




/* BODY ARTICLE ONLY */

.body_article_only {
    text-align: center;
    overflow: auto;
    font-family: Roboto;
}


.commentary .submit
{
    margin-right : 0;
}

.body_article_only h1 {
    font-family : Sansita_title;
    color: #07689F;
}

.body_article_only img {
    width : 100%;
    height : 35rem;
    border : 1px solid #838279;
    border-radius : 55px;
}

.description,
.section_formcomm {
    width : 80%;
    margin: 0 auto;
    text-align: justify;
    padding-top : 2%;
    padding-bottom : 2%;
}

.body_article_only .image_article {
    height : 40%;
    margin-bottom : 2%;
    margin-top : 2%;
}
/*
.image_article:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
    border-radius : 55px;
}*/

.title_all_articles {
    font-family: Sansita_title;
    background: #FFC93C;
    color: #07689F;
    padding: 4rem 1rem;
    text-align: center;
}

.small_title {
    font-family: Sansita_title;
    background: #FFC93C;
    color: #07689F;
    padding: 1rem 1rem;
    text-align: center;
}

.caroussel {
    position : relative;
    display : flex;
    flex-direction: row;
    width: 100%;
    height: 45%;
    margin-bottom : 2%;
}

.caroussel .image_article {
    height : 92%;
    /*margin-right : 2%;
    margin-left : 2%;*/
    width : 100%;
}

.caroussel div[class^="caroussel_"] {
    height : 48px;
    width : 48px;
    border : 0;
    padding : 0;
    background : url('../Image/caroussel/arrow-left.png') no-repeat center;
    position : absolute;
    top : calc(50% - 24px);
}

.caroussel div[class="caroussel_right"] {
    background-image : url('../Image/caroussel/arrow-right.png');
    right : 0%;
}

.caroussel div[class^="caroussel_"]:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.section_formcomm {
    display: flex;
    flex-direction: column;
}

.form_commentaire {
    display : flex;
    flex-direction: column;
}

.row_form_input input::placeholder,
.form_commentaire textarea::placeholder {
    font-family: "Sansita_links";
    font-size: 15px;
    letter-spacing: 1px;
}

.form_commentaire .row_form_input {
    display : flex;
}


.form_commentaire .row_form_input input {
    flex-grow: 1;
    margin-right : 1%;
    height : 2rem;
    border-radius: 5px;
    border: 2px solid #ccc;
    padding: 2px 1%;
    font-size: 14px;
}

.form_commentaire .submit {
    margin-right : 0;
}

.form_commentaire input:hover,
.form_commentaire textarea:hover {
    border: 2px solid #07689F;
}

.form_commentaire .row_form_input input:nth-child(2) {
    margin-right : 0;
    margin-left : 1%; 
}

.form_commentaire textarea {
    height : 8rem;
    margin-bottom : 2%;
    resize : none;
    border-radius: 5px;
    border: 2px solid #ccc;
    padding: 1%;

}

.commentary {
    display : flex;
    margin-top : 5%;
}

.commentary img {
    width : 64px;
    height : 64px;
    border-radius : 0;
    margin-right : 2%;
}

.commentary .text_comment h3 {
    margin : 0;
    display : inline-block;
}

.text_comment {
    width : 90%;
}

#template_commentary{
    display: none;
}

/* MEDIA QUERIES */

@media screen and (min-width: 1200px) {
    .description,
    .section_formcomm {
        width : 60%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .description,
    .section_formcomm {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    .form_commentaire .row_form_input {
        display : flex;
        flex-direction: column;
    }

    .form_commentaire .row_form_input input:nth-child(2) {
        margin-right : 0;
        margin-top: 2%;
        margin-left : 0; 
    }

    .form_commentaire .row_form_input input {
        margin-right : 0;
    }
}
