/* NAVBAR */
.navbar {
  background: #07689F;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7em;
  min-height: 50px;
  color : white;
  z-index: 20;
}

.logo img {
  width: 75%;
  height: 4em;
}

.logo {
  padding-left: 2%;
}

.navbar ul {
  list-style: none;
  display: flex;
  overflow: hidden;
}



.navbar input[type="checkbox"],
.navbar input[type="checkbox"]+label i {
  display: none;
}

.navbar input[type="checkbox"]:checked~.nav_small_screen {
  display: block;
}

.navbar input[type="checkbox"]:checked+label .menu_close {
  display: inherit;
}

.navbar input[type="checkbox"]:not(:checked)+label .menu_open {
  display: inherit;
}

.navbar input[type="checkbox"]:not(:checked)~.nav_small_screen {
  display: none;
}


.menu_open, .menu_close {
  font-size : 3rem;
}

.nav_button_menu {
  padding-right: 2rem;
}

.menu_close {
  display: none;
}

.nav_small_screen {
  display: block;
  background: #07689F;
  position: absolute;
  top: 7em;
  width: 100%;
  z-index: 20;

}

.nav_small_screen ul {
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.nav_small_screen ul:first-child {
  border-top :1px solid #055887;
}

.nav_small_screen ul li {
  border-bottom :1px solid #055887;
  width: 100%;
  text-align: center;
  padding: 2%;
}

.navbar li a:hover {
  cursor: pointer;
}

.nav_small_screen li a:hover {
  text-decoration: underline;
  color: #FFC93C;

}

/* MEDIA QUERIES */

@media screen and (min-width: 1200px) {

  .nav_small_screen {
    position : inherit;
    top : 0;
    width : auto;
  }

  .nav_small_screen ul{
    flex-direction: row;
  }

  .nav_small_screen ul:first-child {
    border-top : 0;
  }

  .nav_small_screen ul li{
    padding: 1rem 2rem 1rem 2rem;
    border : 0;
    width : auto;
  }

  .nav_button_menu {
    display: none;
  }
  .navbar input[type="checkbox"]:not(:checked)~.nav_small_screen {
    display: block;
  }
}
