/* NAVBAR */
.navbar {
  background: #07689F;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7em;
  min-height: 50px;
  color : white;
}

.logo img {
  width: 75%;
  height: 4em;
}

.logo {
  padding-left: 2%;
}

.navbar ul {
  list-style: none;
  display: flex;
  overflow: hidden;
}

.nav_large_screen li {
  padding: 2rem 2rem 2rem 2rem;

}

.nav_large_screen {
  display: none;
}

.navbar input[type="checkbox"],
.navbar input[type="checkbox"]+label img[class^="menu_"] {
  display: none;
}

.navbar input[type="checkbox"]:checked~.nav_small_screen {
  display: block;
}

.navbar input[type="checkbox"]:checked+label .menu_close {
  display: inherit;
}

.navbar input[type="checkbox"]:not(:checked)+label .menu_open {
  display: inherit;
}

.navbar input[type="checkbox"]:not(:checked)~.nav_small_screen {
  display: none;
}

.nav_button_menu img {
  width: 48px;
  height: 48px;
}

.nav_button_menu {
  padding-right: 2rem;
}

.menu_close {
  display: none;
}

.nav_small_screen {
  display: block;
  background: #07689F;
  position: absolute;
  right: 0;
  top: 7em;
  width: 100%;

}

.nav_small_screen ul {
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.nav_small_screen ul:first-child {
  border-top :1px solid #055887;
}

.nav_small_screen ul li {
  border-bottom :1px solid #055887;
  width: 100%;
  text-align: center;
  padding: 2%;
}

.navbar li a:hover {
  cursor: pointer;
}

.nav_large_screen li a:hover,
.nav_small_screen li a:hover {
  text-decoration: underline;
  color: #FFC93C;

}

/* MEDIA QUERIES */

@media screen and (min-width: 1200px) {
  .nav_large_screen {
    display: block;
  }

  .nav_button_menu,
  .nav_small_screen,
  .navbar input[type="checkbox"]:checked~.nav_small_screen {
    display: none;
  }
}

@media screen and (min-width: 768px) {

  .nav_button_menu img {
    width: 64px;
    height: 64px;
  }

}